<%- include("./header.ejs") %>

<%- include('./navbar.ejs') %>
<% if (locals.pageNo < 2) { %>
 
    <div class="title-image">
        <img src="images/Grid_item_images/Google and youtube(1).jpg" alt="Google and youtube image">
    </div>

    <p class="article-desc">
        YouTube speeds in Russia are set to sharply decline on desktop computers due Google's failure to upgrade its
        equipment in Russia and its refusal to unblock channels of Russian media, a senior lawmaker close to the
        authorities said on Friday. <br><br>
        Russia has criticised Alphabet's (GOOGL.O)
        , opens new tab Google for taking down YouTube channels of Russian media and public figures and fined the
        U.S. company several times for failing to remove content Russia considers illegal or undesirable. <br><br>
        Alexander Khinshtein, head of the lower house of parliament's information policy committee, on Thursday said
        slower speeds on the video hosting site was a forced step directed against YouTube for believing it could
        violate Russian law without punishment. <br><br>
        Writing on Telegram on Friday, Khinshtein sought to clarify those comments, and his claim that YouTube
        download speeds in Russia were down 40% and set to drop next week by up to 70%.
        "This is primarily due to the actions (or rather inaction) of YouTube itself," Khinshtein said. <br><br>
        Communications regulator Roskomnadzor said YouTube's quality was declining as Google had not upgraded its
        Google Global Cache servers in Russia. <br><br>
        Khinshtein also said Google had not invested in Russian infrastructure and allowed its local subsidiary to
        go bankrupt, thereby preventing it from paying for local data centre services. <br><br>
        Google did not respond to a request for comment on those accusations.
        YouTube blocked access around the world to channels associated with Russian state-funded media in March
        2022, citing a policy barring content that denies, minimises or trivializes well-documented violent events. <br><br>
        It said Russia's invasion of Ukraine fell under its violent events policy and violating material would be
        removed.
        Google's Russian subsidiary filed for bankruptcy later that year, saying that the seizure of its bank
        account by Russian authorities had made it untenable for its Russia office to function, including paying
        Russia-based employees, suppliers and vendors. <br><br>
        Russia has blocked and slowed down other social media, restrictions that many Russians circumvent using virtual
        private networks (VPNs).
        <br><br>
         Chechen leader Ramzan Kadyrov on Friday proposed blocking YouTube outright. <br><br>
        Moscow's biggest gripe, Khinshtein said, was YouTube's "openly anti-Russian policy" and its refusal to unblock
        Russian channels, as demanded by Roskomnadzor.
        <br><br>
    </p>


 <% } else if (locals.pageNo < 3) { %>
    
    <div class="title-image">
        <img src="images/Grid_item_images/Bitcoin(1).jpg" alt="Bitcoin image">
    </div>
 

<p class="article-desc">
    The State of Michigan Retirement System, which oversees some $143.9 million in pension fund assets for state employees, has invested $6.6 million in the ARK 21Shares Bitcoin ETF, it disclosed in a regulatory filing on Friday. <br><br>

This marks the second confirmed investment by a pension fund in the spot bitcoin exchange-traded funds (ETFs) launched in January, a sign the assets are slowly beginning to attract traditional institutional investors in a boost for crypto assets. <br><br>

In May, the state of Wisconsin’s investment board, which manages $156 billion in assets for the Wisconsin Retirement System, revealed holdings of BlackRock’s iShares Bitcoin Trust and a stake in the Grayscale Bitcoin Trust. <br><br>

Those holdings were valued at $99 million and $63 million, respectively, as of the end of March. That pension fund has yet to file its second-quarter portfolio update. <br><br>

The quarterly disclosures, known as 13-F filings, are made to the Securities and Exchange Commission around 45 days after the end of each quarter and may not reflect current positions. <br><br>

While retail investors have accounted for the lion’s share of the $32 billion that has poured into the nine newly-launched bitcoin ETFs over the last six months, according to VettaFi, analysts are watching for signs of any uptick in demand on the part of institutions like the Michigan pension fund. <br><br>

“Institutions allocating to these funds are likely to have a longer time horizon,” said Todd Sohn, an ETF analyst at Strategas. A greater preponderance of long-term investors should reduce the often-extreme volatility of bitcoin, other analysts say. <br><br>

Separately, the mayor of Jersey City, New Jersey, said on the social media platform X that it plans to make an allocation to the bitcoin ETFs, without providing a timeframe. <br><br>

The State of Michigan Retirement System did not respond to a request for comment. <br><br>

(Reporting by Suzanne McGee; Editing by Michelle Price and Marguerita Choy) <br><br>

Disclaimer: This report is auto generated from the Reuters news service. ThePrint holds no responsibilty for its content. <br><br>
</p>

 <% } else if (locals.pageNo < 4) { %>
   <div class="title-image">
        <img src="images/Grid_item_images/Nvidia.jpg" alt="Nvidia image">
    </div>
    
    (Reuters) – Making leveraged bets on Nvidia is likely to get much riskier if Wall Street’s tech-led selloff continues. <br><br>
<p class="article-desc">
    Exchange-traded funds (ETFs) designed to magnify the daily moves in the chipmaker’s shares by as much as two times have been a popular vehicle for investors seeking to jump on the stock’s meteoric rise this year, with total assets swelling to about $6.3 billion as of this week from only $342 million in December 2023, according to data from CFRA. <br><br>

But while the stock’s roughly 130% year-to-date rally has rewarded bullish bets, recent turbulence in tech shares could amp up the risk for traders seeking to profit from Nvidia’s gyrations. <br><br>

Nvidia’s shares fell by nearly 7% in Wednesday’s selloff, taking the leveraged ETFs down by as much as 13.5%. The S&P 500 index fell 2.3%, its worst loss since late 2022, as investors reacted to disappointing earnings from Tesla and Google. The chipmaker’s shares were down about 3% on Thursday. <br><br>

More turbulence could come next week, as investors await results from Apple, Microsoft Facebook-parent Meta and Amazon.com. <br><br>

“Leverage goes both ways,” said Todd Sohn, ETF analyst at Strategas Securities. “It’s great in a bull market, but when expectations are so high that any nerves cause a stock to unwind, the selloff is painful and quick.” <br><br>

The popularity of these ETFs is another example of how the eye-watering surge in Nvidia’s shares has pushed investors to ramp up exposure to the stock, even as they increase the risks to their portfolios if the company’s fortunes turn. <br><br>

“Leveraged ETFs are for people who are comfortable with risk,” Will Rhind, the CEO of GraniteShares, told Reuters in the latest episode of Inside ETFs. <br><br>

‘VOLATILITY DRAG’

While it’s not yet clear whether investors were net buyers of leveraged ETFs tied to big tech stocks across the board during Wednesday’s selloff, both GraniteShares and REX Shares, two of the asset managers that offer these products tied to Nvidia, said traders used the selloff as an opportunity to buy. <br><br>

That would be consistent with investors’ behavior over the past few weeks. The GraniteShares 2x Long Nvidia Daily ETF, which offers traders a daily return of double Nvidia’s movements higher or lower, has attracted $1.06 billion of net inflows in the last month, during which Nvidia’s shares had fallen by nearly 6% up to Wednesday. <br><br>

Meanwhile, the T-Rex 2x Long Nvidia Daily Target ETF has seen inflows on days when Nvidia’s share price has fallen, according to flows data from the company, and has pulled in $75.7 million since the beginning of June. <br><br>

The run-up in Nvidia’s shares has also bolstered the leveraged ETFs’ popularity with short sellers, who seek to profit from stock declines. Short interest in the GraniteShares ETF hovered around 15% of outstanding shares for the first half of July, compared to 1% in April, data from Vanda Research showed. <br><br>

</p>

    <% } else if (locals.pageNo < 5) { %>

<div class="title-image">
    <img src="images/Grid_item_images/wall st..jpg" alt="Nvidia image">
</div>

<p class="article-desc">
    It's a big week for central banks, with policymakers in the United States, Japan and Britain all due to reconsider lending rates and markets on edge over more earnings from U.S. tech giants.

    In Venezuela, voters head to the polls to elect a president.
    
    Here's your look at what's happening in markets in the coming week, from Kevin Buckland in Tokyo, Ira Iosebashvili and Rodrigo Campos in New York and Amanda Cooper in London.<br><br>
    
    
    1/SEPTEMBER QUESTION
    
    The steep selloff in markets in recent days is shining a spotlight on the Federal Reserve, which concludes its July monetary policy meeting on Wednesday.
    
    Signs of economic concern from the Fed could give investors - already unnerved by turbulence in U.S. tech stocks - yet another reason to worry. As it is, investors believe the time to ease monetary policy is swiftly approaching: futures tied to the Fed funds rate show investors pricing in a more than 90% chance of a September rate cut amid evidence of cooling inflation and a nascent downshift in the jobs market.
    
    U.S. employment data due Aug. 2 will give investors the opportunity to assess whether the gradual signs of slowing that bolstered rate cut expectations have continued in July. Economists polled by Reuters expect the U.S. to have created 185,000 jobs in July, compared with 206,000 in the prior month. <br><br>
    
    
    2/TECH TANTRUMS
    
    Spooked investors also face a minefield of Big Tech earnings, with misses threatening to further upend a market roiled by worries over stretched stock valuations.
    
    Microsoft is scheduled to report earnings on Tuesday, followed by Facebook-parent Meta on Wednesday and Apple and Amazon on Thursday. Disappointing numbers could re-ignite the worries that caused a crushing selloff in U.S. stocks on Wednesday, when both the S&P 500 and Nasdaq suffered their worst day since late 2022.
    
    The huge run-up in tech stocks may have set a high bar for their results. Google-parent Alphabet, whose earnings were one of the triggers for the recent selloff, actually reported better-than-expected revenue, but investors grew wary that rising spending on AI infrastructure could squeeze margins, sending the shares 5% lower. <br><br>
    
    
    3/HIKES AND SPIKES
    
    Speculation is growing that the Bank of Japan could hike rates on Wednesday after high-profile politicians - including the prime minister - hinted at the need for near-term policy normalisation.
    
    It's not the need to end decades of extraordinary stimulus, per se, that is at the heart of their arguments. Rather, the weak yen's choking effect on households and businesses that looks to be turning the exchange rate into a central issue for the ruling Liberal Democratic Party's leadership convention in September.
    
    The fact that the currency has rebounded by a staggering 10 yen per dollar from three-decade lows at the start of the month hasn't deterred some from predicting a July hike. They argue the BOJ can get the most bang for its buck by hiking into a rallying yen. Others worry a fragile economy and weak consumer sentiment couldn't weather higher borrowing costs, with slowing U.S. growth set to have a knock-on effect already. <br><br>
    
    
    4/STICKY ISSUES
    
    The Bank of England meets on Thursday and right now, markets see a roughly 48% chance that rates will fall for the first time since March 2020 0#BOEWATCH.
    
    Growth is modest and consumer inflation has returned to 2%. Yet wage growth and service-sector inflation are proving sticky and running hotter than a number of policy-setters at the Old Lady of Threadneedle Street, as the Bank of England is known, would like.
    
    Clare Lombardelli, the new deputy governor, may hold the deciding vote, as the other eight Monetary Policy Committee members are split evenly on whether to hold or cut.
    
    British consumers might be feeling the pinch of interest rates at more than 14-year highs, but banks have certainly reaped the benefits. Markets will watch results from HSBC HSBA.L, Barclays BARC.L and Standard Chartered STAN.L to get a sense of how well they are likely to fare when borrowing costs, and the profit they make on them, start to fall. <br><br>

</p>

  <% }  else if (locals.pageNo < 6) {%>

<div class="title-image">
    <img src="images/Grid_item_images/Apple(1).jpg" alt="Nvidia image">
</div>

<p class="article-desc">
    Imagine a world where artificial intelligence (AI) not only simplifies our daily tasks but also has the potential to alter the fabric of our society. This might sound like a scene from a sci-fi movie, but the rapid advancement of AI technologies brings both opportunities and significant challenges. With these advancements, the risk of AI being misused for destructive purposes has become a pressing concern. In response, the United States has initiated voluntary commitments to manage AI risks, and Apple has recently joined this effort. This blog post will delve into Apple's participation, the significance of these commitments, and the broader implications for the AI industry. <br><br>

    Apple's decision to join the voluntary US scheme to manage AI risks highlights a growing recognition within the tech industry of the need for regulatory mechanisms. With 15 other companies, including Google, Microsoft, Adobe, IBM, and Nvidia, already on board, this initiative aims to foster a controlled and safe AI environment. 
    <br><br>
    This post seeks to explore why such regulations are needed, the specifics of the commitments, and what this means for the future of AI. Let’s dive deeper into this crucial development.
    The Increasing Need for AI Regulation <br><br>
    
    AI has become an integral part of our daily lives, from virtual assistants to advanced data analytics. However, the dual-edged nature of AI means it can also be exploited for malicious purposes. For instance, cybercriminals can use AI to enhance phishing scams or even hack devices more efficiently. This underscores the importance of safeguarding AI technologies against potential threats. <br><br>
    
    The United States has proactively sought to create a controlled environment for AI development through voluntary commitments from leading tech companies. These commitments are designed to prevent the misuse of AI, ensuring it is used constructively. The initiative was initially launched in July, with tech giants like Google and Microsoft signing on. By September, more companies joined, signaling a collective effort to manage AI risks responsibly.
    Apple's Commitment to AI Safety <br><br>
    
    Apple's decision to join this voluntary scheme is a significant move. Known for its stringent privacy policies and user-centric approach, Apple's participation adds substantial weight to the initiative. By aligning with these commitments, Apple is not only enhancing its own AI governance but also setting a precedent for other tech companies to follow.<br><br>
    
    This move aligns with Apple's broader philosophy of ensuring that technology serves humanity positively. By committing to these voluntary guidelines, Apple emphasizes the importance of ethical AI development and usage. <br><br>
    
    This step also showcases Apple's dedication to maintaining a balance between innovation and responsibility.
    The Core Elements of the Voluntary Commitments
    
  
</p>



<% } else if (locals.pageNo < 7) { %>

    <div class="title-image">
        <img src="./images/Grid_item_images/PS5.jpg" alt="Playstation 5">
    </div>
    <p class="article-desc">
        Sony announced a new update for PS5 beta participants on Wednesday. The PS5 beta brings support for personalized 3D audio profiles for headphones and earbuds, the ability to limit Remote Play access for individual users and adaptive charging for DualSense controllers for beta users on the latest PS5 slim model. The beta rolled out to eligible users Thursday, with a global release planned for later. <br><br>

        The PlayStation parent said users selected to participate in the beta will receive an email invitation Thursday when the update is available to download. The beta update will be accessible to invited participants in the US, Canada, Japan, UK, Germany and France. <br><br> While Sony plans to release the update globally in the coming months, it said that some features from the beta update could be changed or might not even make it to the final version.
        
        The new beta will let eligible users on all PS5 models create a custom 3D audio profile. The PS5 comes with support for 3D audio, and with the new update, players can create personalised audio profiles for supported headphones and earbuds, like Sony's Pulse Elite wireless headset or Pulse Explore wireless earbuds. The feature would allow users to perform various sound quality tests to determine a profile that suits them best.
        
        “For example, your personalized 3D audio profile may enable you to better sense the positions of characters and objects in a game world more clearly than before, making the experience more immersive,” the PlayStation Blog post announcing the update read. <br><br> The 3D audio profile feature can be found in the Sound section within PS5 Settings.
        
        Beta users can now also adjust Remote Play settings for individual users. The update will allow PS5 users to discontinue Remote Play access for other users signed into their console with their PSN accounts. To access this feature, PS5 users can head to Settings > System > Remote Play > Enable Remote Play, and select the user they want to grant Remote Play access.<br><br>
        
        Finally, the beta is also adding adaptive charging for the DualSense wireless controller, DualSense Edge wireless controller, PlayStation VR2 Sense controllers and Access controller for PS5 slim users. This feature will work when the PS5 is in rest mode, with the controller connected to the console via USB Type-C cable. According to Sony, adaptive charging conserves power by adjusting the length of time the controller continues to charge based on its battery level.
    </p>

    <% } else if (locals.pageNo < 8) { %>

        <div class="title-image">
            <img src="./images/Grid_item_images/IHOP syrup_1920x1080.webp" alt="IHOP syrup bottles">
        </div>
<p class="article-desc">
    Here’s a game: Name every brand of pancake syrup you can think of. <br><br>

It’s not a very long list, is it? Most people can probably name Mrs. Butterworth’s and Hungry Jack. Maybe Pearl Milling Company and Log Cabin, if they think hard enough. But beyond those name brands, there just aren’t a lot of contenders in the breakfast aisle. That’s why a major player is entering the game in 2024: A new line of IHOP-branded flavored pancake syrups is now available nationwide. <br><br>

The syrups are in collaboration with Kraft Heinz and they’re available in two flavors: Original and Butter Pecan. The retail price starts at $3.98 and you can learn more about where to find them by checking the Kraft Heinz website. “As with the syrups in its restaurants, IHOP retail syrups also do not contain high fructose corn syrup and feature the same iconic flavors that have made IHOP the leader in breakfast,” notes the statement. <br><br>

According to the latest edition of Technomic’s Top 500 Report, IHOP is one of the top 30 chain restaurants in America, pulling in $3.4 billion in sales in 2023 and maintaining more than 1,500 locations in the United States. Still, given the economic headwinds restaurants have faced over the past several years, from COVID-related supply chain disruptions to the dual impacts of inflation and rising food costs, it never hurts to build up an off-site revenue stream. <br><br>
Courtesy of IHOPIHOP's new bottled syrups will come in two flavors: Original and Butter Pecan. <br><br>

Courtesy of IHOP
IHOP's new bottled syrups will come in two flavors: Original and Butter Pecan. <br><br>
In fact, this isn’t even the restaurant’s first foray into grocery stores. In 2023, Kraft Heinz partnered with IHOP to bring the brand’s coffee to retailers, in both a bagged and a K-Cup format. Cleverly, the product came in three flavors, one of which embodied the classic coffee served at IHOP restaurants (Signature Blend) and two of which emulated the flavors of popular IHOP pancake orders (Buttery Syrup and Chocolate Chocolate Chip). <br><br>

“Our purpose at IHOP is to serve more joy to more guests every day, and offering syrup at retail allows even more guests to experience that joy at home in addition to in our restaurants,” Candice Jacobson, executive director of brand communications at IHOP, said in a statement provided to Food & Wine. <br><br>

</p>
    <% } else if (locals.pageNo < 9) { %>

        <div class="title-image">
            <img src="./images/Grid_item_images/Lady Drinking protein.jpg" alt="Lady drinking protein">

        </div>
         <p class="article-desc">
            Oman Investment Authority (OIA) and MycoTechnology, Inc. have established a groundbreaking joint venture that will use locally-grown dates to produce high-quality mushroom-based protein.  <br><br> The two parties will collaborate on building a state-of-the-art production facility in Oman to scale up and commercialize this novel source of nutritious, sustainable protein.  <br><br> It represents the next generation of innovation driven by MycoTechnology’s proprietary fermentation platform, which harnesses mushroom mycelia to create transformative ingredients. <br><br>

Oman is one of the world’s top 10 producers of dates, growing about 400 thousand tonnes per year.  <br><br> However, more than half goes to waste or animal feed. The new joint venture is expected to upcycle a significant portion of these excess dates, using the natural sugar present in the fruit as a source of carbon to fuel the production of mushroom-based protein.  <br><br>

Construction of the new facility is due to start in the first half of 2023 on a 10-hectare site.   <br><br>Commercial production is scheduled to begin by the second quarter of 2025, with up to 16,000 tonnes of dates to be processed each year. Once operational, the partners intend for the new facility to evolve into the Middle East’s leading innovation hub for food technology.  <br><br>


MycoTechnology's product portfolio includes ClearIQ™ flavor, a line of transformative mushroom-derived flavor modulation tools that decrease the perception of bitter and off-notes, enabling the formulation of products with higher nutrient density, and reduced salt and sugar across a broad spectrum of applications.  <br><br>

MycoTechnology also offers FermentIQ™ protein, a line of plant protein products produced via a proprietary fermentation process that harnesses the power of mushroom mycelia to make plant proteins that are more functional, easier to digest, and more delicious.  <br><br>
         </p>
        <% } else if (locals.pageNo < 10) { %>


         <div class="title-image">
            <img src="./images/Grid_item_images/corvette_cropped_1920x1080.jpg" alt="Car Image">
        </div>
        <p class="article-desc">
            DETROIT — General Motors’

newest Chevrolet Corvette will be the most powerful version of the American sports car ever produced — and it’s not even close. <br><br>

The Detroit automaker said Thursday the 2025 Chevy Corvette ZR1 will be powered by a twin-turbocharged, 5.5-liter, V8 engine capable of more than 1,000 horsepower — a first for Corvette — and 828 foot-pounds of torque, placing it among the ranks of supercars that can cost hundreds of thousands of dollars. <br><br>

“This thing pulls like a freight train,” Tadge Juechter, Corvette’s executive chief engineer since 2006, said during a media event. “We expect this car to be essentially the fastest car we’ve ever built by a long measure.” <br><br>

The prior most-powerful Corvette was GM’s last ZR1 for the 2019 model year. It produced 755 horsepower and 715 foot-pounds of torque with a 6.2-liter, V8 supercharged engine. <br><br>
2025 Chevrolet Corvette ZR1 Coupe with ZTK Performance Package. <br><br>
2025 Chevrolet Corvette ZR1 Coupe with ZTK Performance Package.
GM

Juechter said the new ZR1 will “comfortably” have a top speed higher than the Corvette’s previous top speed of 212 mph. <br><br>

GM said pricing for the 2025 Corvette ZR1, including an additional “ZTK” performance package, will be released closer to when the vehicle goes into production next year. The 2019 Corvette ZR1 started at $121,000. <br><br>

The ZR1 joins what GM is calling the “Corvette family,” including the “everyman’s sports car” Corvette Stingray, which starts at about $70,000; the hybrid E-Ray; and the roughly $112,000 Z06 track car. <br><br>

“We’re happy with the way it’s going. This is the next step in that whole approach,” said Brad Franz, director of Chevy car and crossover marketing.

GM previously confirmed an all-electric Corvette is coming, but it has not given a timeframe. A Corvette SUV also has been under consideration for several years. Franz declined to comment on either vehicle.
2025 Chevrolet Corvette ZR1 Coupe with ZTK Performance Package
2025 Chevrolet Corvette ZR1 Coupe with ZTK Performance Package (left) and 2025 Chevrolet ZR1. <br><br>

Wall Street analysts have said GM could better leverage the Corvette brand by expanding models and, to an extent, sales. In late 2019, Morgan Stanley analyst Adam Jonas said a Corvette sub-brand could be worth between $7 billion and $12 billion. <br><br>


        </p>
            <% } %>


    <%- include("footer.ejs") %>
 
 

</body>

</html>