
  <div class="navbar">

    <div class="first-part">
      <p>Bloggy</p>
    </div>

    <div class="second-part">
      <p class="nav-items">Home</p>
      <p class="nav-items">Contact-us</p>
      <p class="nav-items">Login/signup</p>

      <img class="hamburger-menu" src="images/icons8-hamburger-menu-16.png" alt="hamburger menu">
    </div>



  </div>


