body {
    margin: 0;
    display: block;
}

.pages {
    height: 100vh;

}

.container {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  
}

.homepage1 {
    position: relative;

}

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 13px;
    z-index: 2;
    left: 0;
    right: 0;
}

.navbar-2 {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.nav-items {
    position: relative;
    padding: 0 10px 0;
    cursor: pointer;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bloggy-container {
    position: absolute;
    max-width: 200px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloggy {
    max-width: 100%;
    max-height: 100%;

}

.navbar,
.bg-image {
    position: absolute;
}

.background-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.black-bg {
    position: absolute;
    background-color: black;
    opacity: 80%;
    z-index: 1;
    width: 100%;
    height: 100%;

}

.homepage2 {
    background-color: orange;
}

/* homepage starts  */
.hero-section {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;

}

.hero-section p {
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
}

.headlines {
    display: block;
    width: 100%;
    height: 100%;
}

/* homepage ends */


/* second page starts */

/* about section starts */
.about {
    width: auto;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 8%;
    align-items: center;
}

.about p {
    text-align: left;
    height: 20%;
    width: 50%;
    flex: 2;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(14px, 2vw, 18px);
    margin: auto;

}

.about-image {
    min-width: 20em;
    height: auto;
    display: flex;
    flex: 1;

}

.about img {
    width: 100%;
    height: auto;

}

.about-heading {
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;


}

/* about section ends */

/* grid section starts  */
.grid-layout-parent {
    max-width: 70%;
    height: fit-content;
    margin-top: 10%;
}

.grid-layout-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 4.5%;
}

.grid-item {
    background-color: white;
    border: 1px solid #bacdd8;
    border-radius: 12px;
    padding: 3%;
    filter: drop-shadow(0 0 0.75rem grey);

}

.grid-item h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: aqua;
    font-size: large;
}

.grid-img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-item img {
    width: 100%;
    border-radius: 12px;
}
/* grid section ends */

/* second page ends */


/* media queries start*/
@media (max-width: 840px) {
    .about {
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        max-width: 100vw;
        width: 100%;
        margin: auto;
        height: auto;
        padding: 0;

    }

    .about p {
        text-align: center;
        width: 80%;
        margin: auto;
        height: auto;
        margin-bottom: 20px;

    }

    .about-image {
        max-width: 80%;
        margin: auto;
    }

    .about img {
        object-fit: cover;
    }

    .about-heading {
        display: inline-block;
        margin: 10px 0 20px 0;

    }

}


/* media queries end */